/* Wrapper for Grid */
.wrapper {
  display: flex;
  overflow: hidden;
  height: 500px;
  padding: 0;
}

/* Grid Container */
.grid {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 5px;
  /* scrollbar-width: thin; */
  align-items: flex-start;
  margin-right: 20px;
}

.grid::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.grid::-webkit-scrollbar-thumb {
  background-color: #e0dcdc;
  border-radius: 10px;
}

/* Remove blue color and underline from links */
.link {
  color: inherit; /* Inherit color from parent, so it won't be blue */
  text-decoration: none; /* Remove underline */
}
