/* Wrapper for Grid */
.wrapper {
  display: flex;
  overflow: hidden;
  height: 500px;
  padding: 0px;
}

/* Grid Container */
.grid {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 5px;
  scrollbar-width: thin; /* Slim scrollbar */
  align-items: flex-start;
  margin-right: 20px;
}

.grid::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.grid::-webkit-scrollbar-thumb {
  background-color: #e0dcdc;
  border-radius: 10px;
}

/* Regular Card */
.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 5px #e0dcdc;
  overflow: hidden;
  width: 275px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto; /* Ensure cards don’t shrink */
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px 0 0;
  color: var(--text-color);
}

.card-subtitle {
  color: #777;
  font-style: italic;
  margin: 7.5px 0;
}

/* Add Pet Card */
.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 2px dashed #ddd;
  width: 275px;
  height: 400px;
  cursor: pointer;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
  color: var(--main-color1);
}
/* Remove blue color and underline from links */
.link {
  color: inherit; /* Inherit color from parent, so it won't be blue */
  text-decoration: none; /* Remove underline */
}
