.profile-container {
  display: flex;
  gap: 30px;
  padding: 0; /* Removed inner padding to prevent extra white space */
  background-color: transparent; /* Remove background color */
  width: 100%;
}

.image-section {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
}

.info-section {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: var(--text-color);
}

.details-container {
  display: flex;
  gap: 30px;
}

.details-box {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  flex: 1;
  font-size: 1.1rem;
  position: relative;
  color: var(--text-color);
}

.button-container {
  text-align: right;
  margin-top: 15px;
}

.edit-button {
  padding: 10px 20px;
  background-color: var(--main-color1);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.edit-button:hover {
  background-color: var(--main-color2);
}
