.reminders {
    background: white;
    width: 100vw;
    height: 35vh;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 1.1rem;
}

.addReminder {
    background-color: rgb(251, 240, 239);
    border-radius: 15px;
    border: 2px dashed #ddd;
    box-shadow: 0 8px 5px #e0dcdc;
    color: #575252;
    cursor: pointer;
    width: 100px;
    height: 60%;
    margin: 0px 20px 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.addReminder:hover {
    transform: scale(1.05);
}

.reminder {
    background: linear-gradient(#ef4a75, #fd5564);
    color: white;
    border-radius: 15px;
    box-shadow: 0 8px 5px #e0dcdc;
    box-sizing: border-box;
    overflow: hidden;
    width: 280px;
    height: 60%;
    margin: 0px 20px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.reminderHead {
    margin-top: 15px;
    margin-bottom: 0;
}

.reminderSubHead {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}

.reminderTime {
    font-weight: bold;
    margin-right: 10px;
}

.reminderButtons {
    position: absolute;
    bottom: 0;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reminderButtons Button {
    color: #fd5564;
    font-weight: bold;
    background-color: white;
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    margin: 20px 20px;
}