.reminders {
  background: white;
  width: 100vw;
  height: 360px;
  overflow: scroll;
  position: relative;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.reminders::-webkit-scrollbar {
  height: 8px;
}

.reminders::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 4px; /* Rounded edges for the track */
}

.reminders::-webkit-scrollbar-thumb {
  background-color: #e0dcdc;;
  border-radius: 10px;
}

.reminders::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.add-delete {
  color: var(--main-color3);
  cursor: pointer;
  width: 115px;
  min-width: 115px;
  height: 60%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.reminder {
  background: linear-gradient(
    150deg,
    var(--main-color1) 0%,
    var(--main-color2) 80%
  );
  color: white;
  border-radius: 15px;
  box-shadow: 0 8px 5px #e0dcdc;
  box-sizing: border-box;
  width: 300px;
  min-width: 300px;
  height: 60%;
  margin: 0px 20px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 138%;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 4px;
}

.name{
    margin-left: 12px;
    margin-top: 1.5px;
}

.subhead {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.body {
    font-size: 112%;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.time {
  font-weight: bold;
  margin-right: 12px;
}

.edit-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  margin-top: 15px;
}

.edit {
  font-size: 150%;
  margin-left: 15px;
}

.check-container {
  font-size: 225%;
}

.add-delete-container {
  font-size: 310%;
}

.delete-counter {
  position: absolute;
  left: 95px;
  top: 185px;
  font-size: 110%;
  font-weight: bold;
}

.dormant {
  display: inline;
}

.hovered {
  display: none;
}

.add-delete-container:hover,
.check-container:hover {
  cursor: pointer;
}

.add-delete-container:hover .dormant,
.check-container:hover .dormant,
.check-container:checked .dormant {
  display: none;
}

.add-delete-container:hover .hovered,
.check-container:hover .hovered,
.check-container:checked .hovered {
  display: inline;
}

.check-container.toggled .dormant,
.check-container.toggled:hover .dormant {
  display: none;
}

.check-container.toggled .hovered,
.check-container.toggled:hover .hovered {
  display: inline;
}