/* NavBar.module.css */
.nav {
  /* #ef4a75, */

  /* #fe3c72, */
  background: linear-gradient(45deg, var(--main-color1), var(--main-color2));
  height: 100vh;
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.home {
  transform: scale(1.35);
}

.paw {
  transform: scale(1.2);
}

.calendar {
  transform: scale(1.05);
}

.logout {
  transform: scale(1.15);
}

.link {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.link .dormant {
  display: inline;
}

.link .hovered {
  display: none;
}

.link:hover .dormant {
  display: none;
}

.link:hover .hovered {
  display: inline;
}
